:root{
    --hover--btn: rgba(152, 251, 251, 0.95);
    --txt: rgba(81, 81, 81, 0.966);
}

body{
background-image: linear-gradient(rgba(0, 0, 0, 0.194), rgba(0, 0, 0, 0.275)), url("../imgages/háttérkép.jpg");   
 background-position: center;
 display: flex;
 justify-content: center;
 color: var(--txt);
}


.style {
    background: rgba(255, 255, 255, 0.323);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 0.3px solid rgba(255, 255, 255, 0.33);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    color: var(--txt);
}


main {
    margin:30px;
    width: 400px;
    height: 600px;
  
}

.start-btn {
    height: 50px;
    width: 140px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}
.start-btn{
    visibility: hidden;
    margin-top: 50%;
}

.start-btn:hover{
    background: var(--hover--btn);

}

.game-area {
    border: 1px solid red;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.validate-btn {
    margin-top: 20px;
    height: 30px;
    width: 70px;
   bottom: 20px;
}

.row {
    margin: 1rem;
    font-size: 2.5rem;
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: lightgrey;
    background-color: black;
  }